.aboutUs{
    background: #F9F9F9;
    min-height: 22rem;
    border-radius: 2rem;
}

@media only screen and (max-width){
    .aboutUs{
        text-align: center;
    }
}
.aboutUs-image{
    padding: 0 !important;
}
.aboutUs-image img{
    height: 100%;
    width: 100%;
}

.aboutUs-info{
    padding: 3rem 5rem;
}

@media only screen and (max-width: 770px){
    .aboutUs-info{
        padding: 3rem 0rem;
        text-align: center;
    }
}