

.steps-container{
    width: 55%;
}
@media only screen and (max-width: 770px){
    .steps-container{
        width: 90%;
    }
}

/* dassd */
.steps-content-features{
    padding: 0rem 0rem 3rem 0rem;
}

.steps-content-features h2{
    text-align: center;
}

.steps-content-features-section{
    height: 7rem;
    background: rgba(217, 221, 227, 0.17);
    border-radius: 2rem;
    margin: 2rem 0rem;   
}

@media only screen and (max-width: 770px){
    .steps-content-features-section{
        height: 100%;
        margin: 2rem 0rem;   
    }
}

.steps-content-features-section h6{
    color: #000;
    font-size: 0.8rem;
}
.steps-content-features-section p{
    font-size: 0.8rem;
    line-height: 1.6rem;
}
.steps-content-features-section .row{
    width: 100% !important;
}

@media only screen and (max-width: 770px){
    .steps-content-features-section .row{
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}
.steps-content-features-section .steps-content-features-section-number{
    background: #DBECFF;
    padding: 0;
    display: flex;
    color: #579CFF;
    align-items: center;
    justify-content: center;
    z-index: 2;
    font-weight: 700;
    position: relative;
    top: 0;
    height: 7rem;
    font-size: 4rem;
    border-radius: 2rem;
    font-weight: 600;
}

@media only screen and (max-width: 770px){
    .steps-content-features-section .steps-content-features-section-number{
        height: auto;
        width: 100%;
        font-size: 4rem;
    }
}

.steps-content-features-section .steps-content-features-section-desc{
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.steps-content-features-section-desc-nocolumn{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
}

@media only screen and (max-width: 770px){
    .steps-content-features-section .steps-content-features-section-desc{
        flex-direction: column;
    }
    .steps-content-features-section .steps-content-features-section-desc h6{
        margin-bottom: 2rem !important;
        text-align: center;
    }
    .steps-content-features-section-desc-nocolumn{
        text-align: center;
    }
}

.steps-content-features-section-desc-nocolumn p{
    font-size: 0.65rem;
    color: rgba(31, 35, 45, 0.56);
    letter-spacing: -0.01rem;
    margin-bottom: 0 !important;

}

.steps-content-features-section-desc h6{
    margin-bottom: 0 !important;
}