.product-hardware h2{
    text-align: left;
}

.product-hardware-section{
    margin: 5rem 0;
}

.hardware-img{
    width: 5.5rem;
    margin-bottom: 2.5rem;
}
.product-hardware-section h6{
    color: #388FD3;
    margin: 1rem 0;
}

.product-hardware p{
    font-weight: 600;
    font-size: 0.8rem;
}
.product-hardware h2{
    color: #388FD3;
    margin: 1rem 0;
    font-weight: 600;
}