.logo{
    width: 12rem;
}

.header{
    padding:28px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-wrapper a{
    color: #50565b;
    padding: 6px 20px 6px 20px!important;
    border-radius: 5rem;
    font-size: 14px;
    font-weight: lighter;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
}

.menu-wrapper a:hover{
    color: #FFFFFF!important;
    background-color: #4a70f2;
}

.active{
    color: #FFFFFF!important;
    background-color: #4a70f2;
}