.Whocontainer{
    width: 80%;
    margin-left: auto;
    margin-right: auto; 
}

@media only screen and (max-width: 770px){
    .Whocontainer{
        width: 98%;
        margin-left: auto;
        margin-right: auto; 
    }
}

.Whoweare{
    width: 100%;
    background: #70ADFF;
    min-height: 50vh;
    border-radius: 2rem;
    padding: 0rem 6rem;
}
@media only screen and (max-width: 770px){
    .Whoweare{
        padding: 2rem 1.5rem;
        min-height: 60vh;
    }
}

.Whoweare h2{
    color: #fff;
    text-align: center;
    padding: 3.5rem 0rem;
}
@media only screen and (max-width: 770px){
    .Whoweare h2{
        padding: 1.5rem 0rem;
    }
}


.Whoweare p{
    color: #fff;
    letter-spacing: 0.03rem;
    line-height: 2rem;
}

@media only screen and (max-width: 770px){
    .Whoweare p{
        text-align: center;
    }
}

.meet{
    padding-bottom: 2rem; 
}

.meet h5{
    text-align: center;
    padding: 4rem;
}


.partner-picture{
    background: #F3E6E6;
    width: 100%;
    height: 20rem;
}

.right{
    padding-right:2rem; 
}  


.left{
    padding-left:2rem; 
}

@media only screen and (max-width: 770px){
    .right{
        padding-right:0rem; 
    }
    .left{
        padding-left:0rem; 
    }
}


.partnerDescription{
    display: flex;
    justify-content: space-between;
    padding-top: 1.2rem;
}
.name{
    font-weight: 500;
    color: #000;
    margin-bottom: 0.1rem;
}

.position{
    font-size: 0.8rem;
    letter-spacing: 0.03rem;
}
.socials{
    font-size: 0.6rem;
    color: #707070;
    opacity: 0.5;
    letter-spacing: 0.03rem;
    margin-top: 0.4rem;
    position: relative;
    font-weight: 500;
}

.believe{
    color: #7A8297;
    text-align: center;
    opacity: 0.8;
    margin-top: 2rem;
    font-weight: 400;  
}
.catch{
    padding: 5rem 0rem;

}

.catch h5{
    text-align: center;
}

.catch-imageContainer{
    background: #F3E6E6;
    width: 80%;
    height: 20rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3.5rem;
}

@media only screen and (max-width: 770px){
    .catch-imageContainer{
        width: 100%;
    }
}


.dots{
    display: flex;
    justify-content: center;
    margin: 2rem auto;
}

.dot{
    background: #E6E6E6;
    width: 0.4rem;
    height: 0.4rem;
    margin: 1rem 0.5rem;
    border-radius: 0.4rem;
}   

