@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

.light{
    font-weight: lighter;
}

.yellowButtons {
    background: #FFCC73;
    border-radius: 2rem;
    color: #6D501E;
    padding: 1rem 1.3rem;
    font-size: 0.7rem;
    font-weight: 600;
    letter-spacing: 0.04rem;
    max-width: 8.5rem;
    cursor: pointer;
    text-align: center;
}

.yellowBorderButtons{
    background: #F8F8F8;
    border-radius: 2rem;
    border: 2px solid #FFCC73;
    color: #6D501E;
    padding: 1rem 1.3rem;
    font-size: 0.7rem;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 0.04rem;
    max-width: 8.5rem;
    text-align: center;
}
.yellowBorderButtons:hover,
.yellowBorderButtons:active,
.yellowBorderButtons:focus{
    color: #6D501E;
    text-decoration: none;
}

.yellowButtons:hover{
    color: #fff;
    text-decoration: none;
}



.blueButtons{
    background: #2196F3;
    border-radius: 2rem;
    color: #FFFFFF;
    border: none;
    padding: 1rem 1.3rem;
    font-size: 0.7rem;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 0.04rem;
    max-width: 8.5rem;
    text-align: center;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #272727;
}
p{
  font-family: 'Open Sans', sans-serif;
  color: #7A8297;
  font-weight: 500;
}